body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: 12px;
	color: #1D6299;
}

.tipo_1 {
	font-family: Georgia, "Times New Roman", Times, serif, monospace;
	font-size: 11px;
	
}

.td_titulo2 {
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #1C4064;
	font-weight: bold;
}

.tipo_2 {
	font-family: Georgia, "Times New Roman", Times, serif, monospace;
	font-size: 11px;
	color: #ffffff;
}
.tipo_3 {
	font-family: Georgia, "Times New Roman", Times, serif, monospace;
	font-size: 13px;
	color: #ffffff;
}

.tipo_4 {
	font-family: Georgia, "Times New Roman", Times, serif, monospace;
	font-size: 13px;
	color: #000000;
}
.tipo_5 {
	font-family: Georgia, "Times New Roman", Times, serif, monospace;
	font-size: 12px;
	color: #ffffff;
}
body {
	background-color: #FFFFFF;
	margin-left: 1px;
	margin-top: 4px;
	margin-right: 1px;
	margin-bottom: 4px;
}

.etiquetamail{
	font-family: Calibri;
	font-size: 14px;
	color: #FFFFFF;
}

.etiqueta0{
	font-family: Calibri;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}

.etiqueta1 {
	color:#1D6299;
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
}

.campo0 {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #999999;
	color:#333333;
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size:12px;
	padding-bottom:0;
	padding-left:0;
	padding-top:0;
}

.campo {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #999999;
	color:#333333;
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size:12px;
	padding-bottom:0;
	padding-left:0;
	padding-top:0;
}
.campo_sinborde {
	background:#FFFFFF none repeat scroll 0 0;
	border:none;
	color:#333333;
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size:12px;
	padding-bottom:0;
	padding-left:0;
	padding-top:0;
}

.boton{
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #1A4064;
	cursor:pointer;
}

.normal {
	color:#333333;
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size:13px;
	font-weight:normal;
	text-align:left;
}

.cuadro{
	border: 1px dotted rgb(182, 198, 211);
	color:#333333;
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size:13px;
	font-weight:normal;
	text-align:left;
}

.td_titulo {
	font-family:Arial,Helvetica,Sans-serif;
	font-size: 12px;
	
	font-weight: bold;
	right: auto;
}

.td_titulo_0 {
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size: 13px;
	color: #FFFFFF;	
	background-color: #990000;
	font-weight: bold;
}

.td_titulo_1 {
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size: 23px;
	color: #FFFFFF;	
	background-color: #1C4064;
	font-weight: bold;
}

.td_titulo_2 {
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size: 22px;
	color: #FFFFFF;	
	background-color: #990000;
	font-weight: bold;
}

.td_contenido_mini_1 {
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #cccccc;
	padding: 0px;
}
.td_contenido_mini_2 {
	font-family:"Trebuchet MS",Arial,Helvetica,Sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 0px;
}

/****************ACORDEON****************/
.VEACCORDION {
	padding-top:0px;
	padding-left:0px;
}

.VEACCORDIONHEADER {
	background-color:#C3D5E1;
	color:#000000;
	font-weight: normal;
}

.VEACCORDIONHEADER, .VEACCORDIONHEADERACTIVE {
	padding:0px;
	cursor:pointer;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}

.VEACCORDIONHEADERACTIVE {
	background-color:#5279A0;
	color:#ffffff;
	font-weight: bold;
}

.VEACCORDIONCONTENTACTIVE {
	padding:2px;
	margin-bottom:1px;
	overflow:hidden; 
}

.VEACCORDIONCONTENT {
	padding:0px;
	height:0px;
	margin-bottom:1px;
	overflow:hidden;
}

.VEACCORDIONCONTENT, .VEACCORDIONCONTENTACTIVE {
	border-bottom:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}
/****************ACORDEON****************/