/* $Id: system.css,v 1.1 2008/12/05 15:02:25 jopehi Exp $ */
@import url("layout-3d.css");

.calendar {
  border-color: #fff #000 #000 #fff;
  background-color: #fff;
  color: #000;
}

.calendar table {
  border-color: #fff #000 #000 #fff;
  background-color: #fff;
  color: #000;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  border-color: #fff #a7a6aa #a7a6aa #fff;
  background-color: #EBE9ED;
}

.calendar .nav {
  background-color: #EBE9ED;
}

.calendar thead .title { /* This holds the current "month, year" */
  border-color: #000;
  background-color: #335EA8;
  color: #fff;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-color: #a7a6aa;
  background-color: #EBE9ED;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #f00;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border-color: #fff #a7a6aa #a7a6aa #fff;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  border-color: #a7a6aa #fff #fff #a7a6aa;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  color: #aaa;
}
.calendar tbody .day.othermonth.oweekend {
  color: #faa;
}

.calendar table .wn {
  border-color: #a7a6aa;
  background-color: #EBE9ED;
  color: #000;
}

.calendar tbody .rowhilite td {
  background-color: #335EA8;
  color: #fff;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  border-color: #fff #000 #000 #fff;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  border-color: #a7a6aa #fff #fff #a7a6aa;
}

.calendar tbody td.selected { /* Cell showing selected date */
  border-color: #a7a6aa #fff #fff #a7a6aa;
  background-color: #EBE9ED;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #f00;
}

.calendar tbody td.today { /* Cell showing today date */
  color: #00f;
}

.calendar tbody td.disabled { color: #A7A6AA; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background-color: #EBE9ED;
  border-color: #a7a6aa #fff #fff #a7a6aa;
  color: #000;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-color: #fff #000 #000 #fff;
  background-color: #e4e0d8;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  border-color: #000 #fff #fff #000;
}

/* Combo boxes (Menus that display months/years for direct selection) */

.calendar .combo {
  border-color: #fff #a7a6aa #a7a6aa #fff;
  background-color: #fff;
  color: #000;
}

.calendar .combo .active {
  border-color: #000;
}

.calendar .combo .hilite {
  background-color: #335EA8;
  color: #fff;
}

.calendar .month-left-border { /* Divider line between two monthes */
  border-left:1px solid #808080;
}


/* time */

.calendar tfoot tr.time td { border-color: #a7a6aa; background-color: #EBE9ED; }
.calendar tfoot tr.time td.hour,
.calendar tfoot tr.time td.minute { border-color: #a7a6aa; }
.calendar tfoot tr.time td.hilite { background-color: #335EA8; color: #fff; }
.calendar tfoot tr.time td.active { background-color: #335EA8; color: #fff; }
.calendar-time-scroller { border-color: #a7a6aa; }
